#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1700px;
    text-align: center;
    margin: 0 auto;
    padding: 50px ;
   border-radius: 40px !important;
    
     grid-gap: 50px;
     border: 1px solid black;

}

img{








    
    width: 50%;
    height: 50%;
   
}
